
# GEMINI API KEY
# Dapatkan di: https://aistudio.google.com/app/apikey
# Karena kita memanggil dari Client-Side (React), gunakan prefix NEXT_PUBLIC_
NEXT_PUBLIC_API_KEY=masukkan_api_key_gemini_disini

# URL Aplikasi (Untuk SEO & Metadata)
NEXT_PUBLIC_APP_URL=https://cbpcorp.id

# URL Integrasi antar App (Opsional)
NEXT_PUBLIC_SYSLEGAL_URL=http://localhost:3001
